<div class="custom-container  bg-hourglass">
    <mat-card class="card-logo">
      <img width="200vw" src="./../../../assets/img/logo.png" alt="Taskline logo"/> 
    </mat-card>
      <mat-card class="default-thin-form-card">
        <mat-card class="header" >
          No recuerdo mi contraseña
        </mat-card>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
            <form id="login" name="login" [formGroup]="formGroup" (ngSubmit)="sendMailResetPassword()">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Introduzca el correo electrónico de su cuenta</mat-label>
                  <input type="email" matInput  placeholder="Ex. pat@example.com"  [formControl]="emailControl" [(ngModel)]="dto.email">
                <mat-error *ngIf="emailControl.invalid">{{ getErrorMessage('email')}}</mat-error>
              </mat-form-field>
              <button name="submit" mat-raised-button class="form-buttons" type="submit">Enviar</button>            
          </form>  
          <span class="powered-text">Powered by TASKLINE</span>
      </mat-card>
  </div>  