<div class="custom-container  bg-hourglass">
    <mat-card class="card-logo">
      <img width="200vw" src="./../../../assets/img/logo.png" alt="Taskline logo"/> 
    </mat-card>
      <mat-card class="default-thin-form-card">
        <mat-card class="header" >
         Resetear contraseña
        </mat-card>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
            <form id="resetPassword" name="resetPassword" [formGroup]="formGroup" (ngSubmit)="resetPassword()">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Introduzca su contraseña</mat-label>
                    <input name="pass1" matInput [type]="hide ? 'password' : 'text'"  [formControl]="pass1" [(ngModel)]="dto.pass1">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                      <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="pass1.invalid">{{getErrorMessage('pass1')}}</mat-error>
                  </mat-form-field> 
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Vuelva a introducir la misma</mat-label>
                <input name="pass2" matInput [type]="hide ? 'password' : 'text'"  [formControl]="pass2" [(ngModel)]="dto.pass2">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="pass2.invalid">{{getErrorMessage('pass2')}}</mat-error>
              </mat-form-field> 
              <button  name="submit" mat-raised-button class="form-buttons" type="submit">Enviar</button>            
          </form>
          <span class="powered-text">Powered by TASKLINE</span>
      </mat-card>
  </div>  