      <mat-card class="not-header-form-card">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
            <img class="avatar-large" [src]="img"/>
            <div class="center">
              <button id="mat-button-img-selector" mat-raised-button class="form-buttons"(click)="openFileSelector()">Seleccionar imagen</button>
            </div>
            <form id="image"  (ngSubmit)="updateProfileImage()" enctype="multipart/form-data">
              <input  hidden  id="input-image" class="ng-hide" type="file" (change)="getImage($event)">
              <button name="submit" mat-raised-button class="form-buttons" type="submit">Subir imagen</button>
            </form>
            <form id="registro" name="updateGroup" [formGroup]="updateGroup" (ngSubmit)="updateUser()">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Introduzca un email válido</mat-label>
                  <input type="email" matInput  placeholder="Ex. pat@example.com"  [formControl]="email" [(ngModel)]="dto.email">
                <mat-error *ngIf="email.invalid">{{ getErrorMessage('email')}}</mat-error>
              </mat-form-field>
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Introduzca su nuevo nombre de usuario</mat-label>
                  <input type="text"   matInput  [formControl]="username" [(ngModel)]="dto.username">
                <mat-error *ngIf="username.invalid">{{getErrorMessage('username')}}</mat-error>
              </mat-form-field>
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Introduzca su nuevo nombre</mat-label>
                <input type="text" id="name" name="name" matInput  placeholder="Will Smith Robertson" [formControl]="name" [(ngModel)]="dto.name">
                <mat-error  color="warning" *ngIf="name.invalid">{{getErrorMessage('name')}}</mat-error>
              </mat-form-field>
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Introduzca su numero de telefono</mat-label>
                <input type="text" id="phoneNumber" name="phoneNumber" matInput  placeholder="+345666... - 92434..." [formControl]="phoneNumber" [(ngModel)]="dto.phoneNumber">
                <mat-error  color="warning" *ngIf="phoneNumber.invalid">{{getErrorMessage('phoneNumber')}}</mat-error>
              </mat-form-field>
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Introduzca la fecha de su cumpleaños</mat-label>
                <input id="birthDate" name="birthDate" matInput [matDatepicker]="picker" [formControl]="birthDate" [(ngModel)]="dto.birthDate">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>
                    event
                </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error  *ngIf="birthDate.invalid">{{getErrorMessage('birthDate')}}</mat-error>
              </mat-form-field>              
              <button  name="submit" mat-raised-button class="form-buttons" type="submit">Actualizar Usuario</button>
          </form>
          <span class="powered-text">Powered by TASKLINE</span>
      </mat-card>