<mat-card class="preview-class">
    <mat-card-title>{{task.goal}} </mat-card-title>
    <mat-card-subtitle>Fecha límite: {{task.archivementDateTime | date:'medium' }}</mat-card-subtitle> 	
    <mat-card-content *ngIf="task.description.length>30; else elseTemplate">
        {{task.description.substr(0,30).concat('...')}}
    </mat-card-content>
    <ng-template #elseTemplate>
        {{task.description}}
      </ng-template>
    <mat-card-actions>	
    <div class="center">
        <button  mat-mini-fab class="info mini-fab" (click)="inpectTask.emit(this.task)">
            <mat-icon class="white">preview</mat-icon>
         </button>            
         <button  [disabled]="appUtils.createdByUser(task.createdBy)"   mat-mini-fab class="error mini-fab"  (click)="delete()">
             <mat-icon class="white">delete</mat-icon>
         </button>            
        <button  [disabled]="appUtils.createdByUser(task.createdBy)"  mat-mini-fab  class="success mini-fab" (click)="addContributors.emit(this.task)">
            <mat-icon class="white">person_add</mat-icon>
        </button>   
         <button  [disabled]="appUtils.createdByUser(task.createdBy)"  mat-mini-fab class="grey mini-fab" (click)="addReminders.emit(this.task)" >
            <mat-icon class="white">add_alert</mat-icon>
        </button> 
    </div>
    </mat-card-actions> 
    <mat-card-footer>
        <span *ngIf="!appUtils.createdByUser(task.createdBy)" class="powered-text">{{task.idTasklist.name}}</span>
        <mat-icon  *ngIf="appUtils.createdByUser(task.createdBy)" class="disabled">person_add</mat-icon>
        
    </mat-card-footer>
           
</mat-card>


