<div  mat-dialog-content >
    <form id="create" name="formGroup" [formGroup]="formGroup" (ngSubmit)="updateTask()">
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Buscador de Contribuidores</mat-label>
            <input type="text"
                   placeholder="Introduczca un nombre de usuario "
                   aria-label="Number"
                   matInput
                   [formControl]="contributor"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
             
              <mat-option *ngFor="let option of filteredOptions" (click)="addToContributors(option)">
                  <img class="avatar" [src]="option.profileImage"/>
                  {{option.username}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <cdk-virtual-scroll-viewport class="small" itemSize="1" *ngIf="task.contributors.length>0">
              <mat-grid-list class="contributors" cols="1"  rowHeight="10vh"  gutterSize="10px">
                  <mat-grid-tile class="no-padding"  *ngFor="let contributor of task.contributors">
                          <img class="avatar-grid" [src]="contributor.profileImage"/>
                          {{contributor.username}}
                          <button  mat-mini-fab class="error mini-fab" (click)="deleteContrib(contributor._id)">
                              <mat-icon class="white">delete</mat-icon>
                          </button>    
                  </mat-grid-tile>
                  </mat-grid-list>
          </cdk-virtual-scroll-viewport>
    </form>
</div>

