<cdk-virtual-scroll-viewport itemSize="100" (scrolledIndexChange)="getTimeline()">
    <mat-card *ngIf="items.length==0">No hay tareas creadas aún, prueba a crear alguna</mat-card>
    <mat-grid-list cols="4">
        <mat-grid-tile *cdkVirtualFor="let item of items">
            <app-preview-simple-task (addContributors)="addContributors($event)" 
                                     (inpectTask)="inspectTask($event)"  
                                     (updateTask)="updateTask($event)" 
                                     (deleteTask)="deleteTask($event)" 
                                     [task]="item"></app-preview-simple-task>
        </mat-grid-tile>
      </mat-grid-list>
      
</cdk-virtual-scroll-viewport>
  